<div class="col">
  <div class="card shadow-lg" *ngIf="this.auth.currentUser">
    <div class="card-header" style="text-align: center;">
      <h6>
        {{'¡Bienvenido, ' + auth.currentUser.name + '!'}}
      </h6>
    </div>
    <div class="card-body">
      <div class="row justify-content-center align-items-center mb-4">

        <!-- If user not type 'Patient', profile pictures is empty -->
        <fa-icon *ngIf="profilePictures.length == 0 && !loading" [icon]="icon" [size]="'5x'"></fa-icon>
        <span *ngIf="loading" class="spinner-grow spinner-grow-md mr-1 text-primary"></span>

        <div *ngIf="profilePictures.length == 2" class="col-6 p-4">
          <img [src]="profilePictures[0]" alt="Profile picture" style="width: auto; height: 60px;">
        </div>
        <div *ngIf="profilePictures.length == 2" class="col-6">
          <img [src]="profilePictures[1]" alt="Profile picture" style="width: auto; height: 60px;">
        </div>

      </div>
      <div class="row justify-content-center">
        <h4>
          {{auth.currentUser.name + ' ' + auth.currentUser.surname}}
        </h4>
      </div>
      <div class="row justify-content-center" *ngIf="!enabled">
        <h6 class="text-danger" style="text-align: center;">
          Usted aún no ha sido aprobado por un administrador
        </h6>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{'Usted está registrado como ' + typeTranslation}}
    </div>
  </div>
</div>
