<div class="col" [@animateGallery]="'fadeIn'">
  <div class="card shadow-lg" *ngIf="this.auth.currentUser">
    <div class="card-header" style="text-align: center;">
      <h6>
        {{'¡' + ts.translate('welcome') + ', ' + auth.currentUser.name + '!'}}
      </h6>
    </div>
    <div class="card-body">
      <div class="row justify-content-center align-items-center mb-4">

        <!-- If user not type 'Patient', profile pictures is empty -->
        <fa-icon *ngIf="profilePictures.length == 0 && !loading" [icon]="icon" [size]="'5x'"></fa-icon>
        <span *ngIf="loading" class="spinner-grow spinner-grow-md mr-1 text-primary"></span>

        <div *ngIf="profilePictures.length == 2" class="col-6 p-4">
          <img [src]="profilePictures[0]" alt="Profile picture" style="width: auto; height: 60px;">
        </div>
        <div *ngIf="profilePictures.length == 2" class="col-6">
          <img [src]="profilePictures[1]" alt="Profile picture" style="width: auto; height: 60px;">
        </div>

        <button (click)="ts.switchLanguages()" class="btn btn-primary">
          Switch
        </button>
      </div>
      <div class="row justify-content-center">
        <h4>
          {{auth.currentUser.name + ' ' + auth.currentUser.surname}}
        </h4>
      </div>
      <div class="row justify-content-center">
        <h6 *ngIf="!enabled && userType == types.Staff" class="text-danger" style="text-align: center;">
          {{ts.translate('pendingApproval')}}
        </h6>

        <h6 *ngIf="!enabled && userType == types.Patient" class="text-danger" style="text-align: center;">
          {{ts.translate('pendingVerification')}}
        </h6>

        <h6 *ngIf="enabled && userType != types.Admin" class="text-success" style="text-align: center;">
          {{ts.translate('enabled')}}
        </h6>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{ts.translate('registeredAs') + ' ' + typeTranslation}}
    </div>
  </div>
</div>
