.header{
  min-height: 10vh;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.shake {
  animation: shake-animation 2s ease infinite;
  transform-origin: 50% 50%;
  transform: scale(1.1);
}

@keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
