<nav class="navbar border shadow-lg sticky-top navbar-light bg-light header">
  <a class="navbar-brand ml-3" href="#">
    <fa-icon [icon]="icon" [size]="'2x'" class="text-primary"></fa-icon>
    <b>
      Clinica online
    </b>
  </a>
  <a>

    <div class="mr-5 d-flex" *ngIf="auth.currentUser">
      <div ngbDropdown  #bell (click)="onBellClick(bell)" [ngClass]="notifications.length != 0 ? ['text-danger','shake'] : ''">
        <fa-icon type="button"  class="px-3" [icon]="alert" [size]="'lg'" ngbDropdownToggle></fa-icon>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
          <ul class="list-group">
            <li [@animateGallery]="state" ngbDropdownItem  class="list-group-item" *ngFor="let item of notifications">
              <div style="width: 200px; height: auto;">
                <fa-icon type="button" [icon]="cross" [size]="'sm'" (click)="onDismissNotification(item)"></fa-icon>
                {{item.message}}
              </div>
            </li>
          </ul>
          <div class="row justify-content-center">
            <h5 class="p-4" style="text-align: center;" *ngIf="notifications.length == 0">No hay notificaciones para mostrar</h5>
          </div>
        </div>
      </div>
      <div class="grow">
        <a role="button" class="grow" (click)="onLogOutClicked()">
          <fa-icon class="px-3" [icon]="exit" [size]="'lg'"></fa-icon>
        </a>
      </div>
    </div>
  </a>
</nav>
