<nav class="navbar border shadow-lg sticky-top navbar-light bg-light header">
  <a class="navbar-brand ml-3" href="#">
    <fa-icon [icon]="icon" [size]="'2x'" class="text-primary"></fa-icon>
    <b>
      Clinica online
    </b>
  </a>

  <a class="d-flex">
    <div class="d-flex" *ngIf="auth.currentUser && auth.currentUser.name && !router.url.includes('login') && !router.url.includes('register')">
      <div ngbDropdown  #bell (click)="onBellClick(bell)" [ngClass]="notifications.length != 0 ? ['text-danger','shake'] : ''">
        <fa-icon type="button"  class="px-3" [icon]="alert" [size]="'2x'" ngbDropdownToggle></fa-icon>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
          <ul class="list-group"  style="max-height: 300px; overflow-y: scroll;">
            <li ngbDropdownItem  class="list-group-item" *ngFor="let item of notifications">
              <div>
                <fa-icon type="button" [icon]="cross" [size]="'sm'" (click)="onDismissNotification(item)"></fa-icon>
                {{item.message}}
              </div>
            </li>
          </ul>
          <div class="row justify-content-center">
            <h5 class="p-4" style="text-align: center;" *ngIf="notifications.length == 0">{{ts.translate('notifications')}}</h5>
          </div>
        </div>
      </div>
      <div class="grow">
        <a role="button" class="grow" (click)="onLogOutClicked()">
          <fa-icon class="px-3" [icon]="exit" [size]="'2x'"></fa-icon>
        </a>
      </div>
    </div>
    <app-language-switch class="mx-3"></app-language-switch>
  </a>
</nav>
