<div class="background" [@animateGallery]="state">
  <div class="container">
    <div class="row justify-content-center align-items-center" [@animateGallery]="containerState">
      <div class="col-md-4">
        <form [formGroup]="form" class="border rounded shadow-lg border-light p-3 m-3 mt-5 bg-white">
          <div style="text-align: center;"class="row text-center justify-content-center align-items-center">
            <h4>
              {{ts.translate('login')}}
            </h4>
          </div>
          <!-- Email -->
          <label for="email">{{ts.translate('email')}}</label>
          <input type="email" formControlName="email" [ngClass]="email.invalid && email.touched ? 'error' : ''" class="form-control mb-4" [placeholder]="ts.translate('email')">

          <!-- Password -->
          <label for="password">{{ts.translate('password')}}</label>
          <input type="password" formControlName="password" [ngClass]="password.invalid && password.touched ? 'error' : ''" class="form-control mb-4" [placeholder]="ts.translate('password')">

          <div class="d-flex justify-content-around">
              <div>
                  <!-- Forgot password -->
                  <a href="">{{ts.translate('forgotPassword')}}</a>
              </div>
          </div>

          <!-- Sign in button -->
          <div class="form-group">
            <button [disabled]="form.invalid || loading" (click)="signIn()" class="btn btn-primary btn-block my-3">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span *ngIf="!loading">{{ts.translate('loginButton')}}</span>
              </button>
          </div>

          <!-- Register -->
          <div class="form-group">
            <button (click)="navigateToRegister()" class="btn btn-success btn-block my-3">
              {{ts.translate('register')}}
              </button>
          </div>

          <!-- Autocomplete -->
          <div class="form-group">
            <button (click)="autocomplete()" class="btn btn-dark btn-block my-3">
              {{ts.translate('testUsers')}}
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
