<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center" [@animateGallery]="'fadeIn'">
      <div class="col">
        <form class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  {{ts.translate('staffAppointmentsTitle')}}
                </h4>
              </div>
            </div>
          </div>

          <div class="row justify-content-start">
            <h5 class="pl-3">{{ts.translate('filterByState')}}</h5>
          </div>

          <div class="row justify-content-start my-3">
            <div class="btn-group pl-3 w-90" role="group">
              <button type="button" (click)="onStatusSelected(s)" [ngClass]="statusSelected.includes(s) ? 'btn-primary' : 'btn-secondary'" class="btn" *ngFor="let s of statusValues">{{ts.translate(s)}}</button>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col align-items-center my-2" style="max-height: 500px; overflow-y: scroll;">
              <div style="display: flex; flex-direction: row; flex-wrap: wrap;" class="p-3 m-2">
                <div class="card m-2" style="width: 30%;" [ngClass]="selected == item ? 'border border-primary shadow shadow-lg' : ''" *ngFor="let item of filteredAppointments">
                  <div class="card-body">
                    <h5 class="card-title"><strong>{{ts.translate('patient')}}: </strong>{{item.patient}}</h5>
                    <p class="card-text"><strong>{{ts.translate('date')}}: </strong>{{item.date | date:'short'}}</p>
                    <p class="card-text"><strong>{{ts.translate('state')}}: </strong>{{ts.translate(item.status)}}</p>
                    <button class="btn btn-primary btn-sm" (click)="onRowSelected(item)" >{{ts.translate('select')}}</button>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <span *ngIf="loading" class="spinner-grow spinner-grow-sm p-5 text-primary"></span>
                <h5 *ngIf="appointments  && filteredAppointments && filteredAppointments.length == 0" class="p-5" >{{ts.translate('emptyList')}}</h5>
              </div>
            </div>
          </div>

          <div *ngIf="appointments && appointments.length > 0" class="row align-items-center justify-content-center d-flex">
            <div class="col-8 align-items-center justify-content-center d-flex">
              <button (click)="viewDetails()" [disabled]="!selected || selected.status != status.Done" class="btn btn-primary mx-2">{{ts.translate('seeDetails')}}</button>
              <button (click)="onUpdateStatus(status.Accepted)" [disabled]="!selected || selected.status != status.Pending" class="btn btn-success mx-2">{{ts.translate('accept')}}</button>
              <button (click)="onUpdateStatus(status.Rejected)" [disabled]="!selected || selected.status != status.Pending" class="btn btn-danger mx-2">{{ts.translate('reject')}}</button>
              <button (click)="onUpdateStatus(status.Canceled)" [disabled]="!selected || selected.status != status.Accepted" class="btn btn-warning mx-2">{{ts.translate('cancel')}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
