<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <form class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  Ver turnos
                </h4>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col align-items-center">
              <table *ngIf="appointments && appointments.length > 0" class="table table-hover" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">Paciente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;" *ngFor="let item of appointments" (click)="onRowSelected(item)" [ngClass]="selected && selected == item ? 'table-primary' : ''">
                    <td>{{item.patient}}</td>
                    <td>{{item.date | date}}</td>
                    <td><b>{{item.status}}</b></td>
                  </tr>
                </tbody>
              </table>
              <div class="row justify-content-center">
                <span *ngIf="loading" class="spinner-grow spinner-grow-sm p-5 text-primary"></span>
                <h5 *ngIf="appointments && appointments.length == 0" class="p-5" >Usted no tiene turnos pendientes para mostrar</h5>
              </div>
            </div>
          </div>

          <div *ngIf="appointments && appointments.length > 0" class="row align-items-center justify-content-center d-flex">
            <div class="col-8 align-items-center justify-content-center d-flex">
              <button (click)="viewDetails()" [disabled]="!selected || selected.status != status.Done" class="btn btn-primary mx-2">Ver detalle</button>
              <button (click)="onUpdateStatus(status.Accepted)" [disabled]="!selected || selected.status != status.Pending" class="btn btn-success mx-2">Aceptar</button>
              <button (click)="onUpdateStatus(status.Rejected)" [disabled]="!selected || selected.status != status.Pending" class="btn btn-danger mx-2">Rechazar</button>
              <button (click)="onUpdateStatus(status.Canceled)" [disabled]="!selected || selected.status != status.Accepted" class="btn btn-warning mx-2">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
