<div class="col">
  <div class="card shadow-lg" *ngIf="auth.currentUser">
    <div class="card-header" style="text-align: center;">
      <h5>
        {{'¡Bienvenido, ' + auth.currentUser.name + '!'}}
      </h5>
    </div>
    <div class="card-body">
      <div class="row justify-content-center align-items-center mb-4">

        <!-- If user not type 'Patient', profile pictures is empty -->
        <fa-icon *ngIf="profilePictures.length == 0" [icon]="icon" [size]="'5x'"></fa-icon>

        <div *ngIf="profilePictures.length == 2" class="col-6 p-4">
          <img [src]="profilePictures[0]" alt="Profile picture" style="width: auto; height: 80px;">
        </div>
        <div *ngIf="profilePictures.length == 2" class="col-6">
          <img [src]="profilePictures[1]" alt="Profile picture" style="width: auto; height: 80px;">
        </div>

      </div>
      <div class="row justify-content-center">
        <h4>
          {{auth.currentUser.name + ' ' + auth.currentUser.surname}}
        </h4>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{'Usted está registrado como ' + typeTranslation}}
    </div>
  </div>
</div>
