.background{
  background-image: url('../../../assets/images/background.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.enabled{
  background-color: #FFFFFF;
  color: black;
}

.disabled{
  background-color: #EEEEEE;
  color: grey;
}

.error{
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
  color: #cc0033;
}
