<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center"  [@animateGallery]="'fadeIn'">
      <div class="col-md-8">
        <form [formGroup]="form" class="border rounded shadow-lg border-light px-3 pb-3 mt-4 bg-white">

          <div class="row pb-3">
            <div class="col-6 d-flex" (click)="userType = 'Usuario'" [ngClass]="userType == 'Usuario' ? 'enabled' : 'disabled'" style="height: 90px;">
              <div style="margin: auto;">
                <h4>
                  {{ts.translate('registerAsUser')}}
                </h4>
              </div>
            </div>
            <div class="col-6 d-flex" (click)="userType = 'Profesional'" [ngClass]="userType == 'Profesional' ? 'enabled' : 'disabled'" style="height: 90px;">
              <div style="margin: auto;">
                <h4>
                  {{ts.translate('registerAsStaff')}}
                </h4>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Name -->
            <div class="col-6 my-2">
              <label for="name">{{ts.translate('name')}}</label>
              <input [ngClass]="name.invalid && name.touched ? 'error' : ''" type="name" formControlName="name" class="form-control" [placeholder]="ts.translate('name')">
            </div>

            <!-- Surname -->
            <div class="col-6 my-2">
              <label for="surname">{{ts.translate('surname')}}</label>
              <input [ngClass]="surname.invalid && surname.touched ? 'error' : ''" type="surname" formControlName="surname" class="form-control" [placeholder]="ts.translate('surname')">
            </div>
          </div>

          <div class="row">
            <!-- Email -->
            <div class="col-6 my-2">
              <label for="email">{{ts.translate('email')}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <fa-icon [icon]="emailIcon"></fa-icon>
                  </span>
                </div>
                <input [ngClass]="email.invalid && email.touched ? 'error' : ''"type="email" formControlName="email" name="email" class="form-control" [placeholder]="ts.translate('email')">
              </div>
            </div>

            <!-- Password -->
            <div class="col-6 my-2">
              <label for="password">{{ts.translate('password')}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <fa-icon [icon]="passwordIcon"></fa-icon>
                  </span>
                </div>
                <input [ngClass]="password.invalid && password.touched ? 'error' : ''" type="password" formControlName="password" name="password" class="form-control" [placeholder]="ts.translate('password')">
              </div>
            </div>
          </div>

          <div class="row m-4" *ngIf="userType === 'Usuario'">
            <!-- Profile pictures if type = user -->
            <div class="col-4">
                <p class="text-left" style="font-weight: bold; font-size: 20px;">{{ts.translate('profilePictures')}}</p>
            </div>
            <div class="col-4 center-block text-center">
              <label for="picture1" class="btn">
                <fa-icon [icon]="portraitIcon" [size]="'4x'" [ngClass]="!picture1 ? 'text-secondary' : 'text-success'"></fa-icon>
              </label>
              <input  type="file" name="picture1" id="picture1" style="display: none;" class="form-control-file" (change)="onFileChange($event, 1)">
            </div>
            <div class="col-4 center-block text-center">
              <label for="picture2" class="btn">
                <fa-icon [icon]="portraitIcon" [size]="'4x'" [ngClass]="!picture2 ? 'text-secondary' : 'text-success'"></fa-icon>
              </label>
              <input  type="file" id="picture2" style="display: none;" class="form-control-file" (change)="onFileChange($event, 2)">
            </div>
          </div>

          <div class="row m-4" *ngIf="userType === 'Profesional'">
            <!-- Specialties if type = doctor -->
            <div class="col-4">
                <p class="text-left" style="font-weight: bold; font-size: 20px;">{{ts.translate('specialties')}}</p>
            </div>
            <div class="col-8" #pillsContainer>
              <span *ngFor="let specialty of specialties" style="font-size: 15px;" (click)="onSpecialtyClicked($event)" class="badge badge-pill badge-secondary mx-2 my-1">
                {{specialty}}
              </span>
              <div *ngIf="specialties.length == 0" class="d-flex justify-content-center p-2">
                <span class="spinner-grow text-primary"></span>
              </div>
            </div>
          </div>


          <!-- Sign up button -->
          <div class="form-group">
            <button [disabled]="form.invalid || loading || (userType == 'Usuario' && (!picture1 || !picture2))" (click)="onRegister()" class="btn btn-primary btn-block my-3">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span *ngIf="!loading">{{ts.translate('register')}}</span>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
