<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center" [@animateGallery]="'fadeIn'">
      <div class="col">
        <form [formGroup]="form" class="border rounded shadow-lg border-light px-3 pb-3 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  {{ts.translate('specialtyAddTitle')}}
                </h4>
              </div>
            </div>
          </div>

          <div class="row justify-content-center align-items-center">
            <div class="col-9 w-100">
              <input [ngClass]="specialty.invalid && specialty.touched ? 'error' : ''" formControlName="specialty" class="form-control" [placeholder]="ts.translate('specialty')">
            </div>
          </div>


          <div class="row m-4">
            <!-- Specialties if type = doctor -->
            <div class="col-4">
                <p class="text-left" style="font-weight: bold; font-size: 20px;">{{ts.translate('existingSpecialties')}}</p>
            </div>
            <div class="col-8">
              <span *ngFor="let specialty of specialties" style="font-size: 15px;" class="badge badge-pill badge-secondary mx-2 my-1">
                {{specialty}}
              </span>
              <div *ngIf="specialties.length == 0" class="d-flex justify-content-center p-2">
                <span class="spinner-grow text-primary"></span>
              </div>
            </div>
          </div>

          <!-- Captcha  -->
          <app-captcha (resolved)="onCaptchaResolved($event)"></app-captcha>

          <!-- Submit button -->
          <div class="form-group">
            <button [disabled]="form.invalid || loading || !captcha" (click)="onAddSpecialty()" class="btn btn-primary btn-block my-3">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span *ngIf="!loading">{{ts.translate('addSpecialty')}}</span>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
