<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <form [formGroup]="form" class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  Atender un turno
                </h4>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
