<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center" [@animateGallery]="'fadeIn'">
      <div class="col">
        <form class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  Próximos turnos
                </h4>
              </div>
            </div>
          </div>

          <div class="row justify-content-start">
            <h5 class="pl-3">Filtrar turnos por estados</h5>
          </div>

          <div class="row justify-content-start my-3">
            <div class="btn-group pl-3 w-90" role="group">
              <button type="button" (click)="onStatusSelected(s)" [ngClass]="statusSelected.includes(s) ? 'btn-primary' : 'btn-secondary'" class="btn" *ngFor="let s of statusValues">{{s}}</button>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col my-2" style="max-height: 500px; overflow-y: scroll;">
              <!-- <table *ngIf="appointments.length != 0" class="table table-hover" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">Profesional</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of appointments" (click)="onRowSelected(item)" [ngClass]="selected && selected == item ? 'table-primary' : ''">
                    <th scope="row">{{item.professional}}</th>
                    <td>{{item.date | date}}</td>
                    <td>{{item.status}}</td>
                  </tr>
                </tbody>
              </table> -->
              <div *ngIf="appointments && appointments.length != 0" style="display: flex; flex-direction: row; flex-wrap: wrap;" class="p-3 m-2">
                <div class="card m-2" style="width: 30%;" [ngClass]="selected == item ? 'border border-primary shadow shadow-lg' : ''" *ngFor="let item of filteredAppointments">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Profesional: </strong>{{item.professional}}</h5>
                    <p class="card-text"><strong>Fecha: </strong>{{item.date | date:'short'}}</p>
                    <p class="card-text"><strong>Estado: </strong>{{item.status}}</p>
                    <button class="btn btn-primary btn-sm" (click)="onRowSelected(item)" >Seleccionar</button>
                  </div>
                </div>
              </div>
              <div *ngIf="filteredAppointments.length == 0 || loading" class="row justify-content-center align-items-center m-5">
                <h5 *ngIf="filteredAppointments.length == 0 && !loading" >
                  No tiene turnos para mostrar
                </h5>
                <span *ngIf="loading" class="spinner-grow spinner-grow-md mr-1 text-primary"></span>
              </div>
            </div>
          </div>

          <div class="row align-items-center justify-content-center d-flex">
            <div *ngIf="appointments.length != 0" class="col-8 align-items-center justify-content-center d-flex">
              <button (click)="onUpdateStatus(status.Canceled)" [disabled]="!selected || selected.status == status.Canceled" class="btn btn-danger mx-2">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span *ngIf="!loading">Cancelar turno</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
