<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center" [@animateGallery]="'fadeIn'">
      <div class="col">
        <form class="border rounded shadow-lg border-light px-4 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  Solicitar un turno
                </h4>
              </div>
            </div>
          </div>

          <div class="row w-100 justify-content-center">
            <div class="col">

              <!-- Stepper -->
              <div #stepper class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                  <div class="step" data-target="#specialty">
                    <button type="button" class="step-trigger" role="tab">
                      <span class="bs-stepper-circle">1</span>
                      <span class="bs-stepper-label">Especialidad</span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#professional">
                    <button type="button" class="step-trigger" role="tab">
                      <span class="bs-stepper-circle">2</span>
                      <span class="bs-stepper-label">Profesional</span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#datetime">
                    <button type="button" class="step-trigger" role="tab">
                      <span class="bs-stepper-circle">3</span>
                      <span class="bs-stepper-label">Día y horario</span>
                    </button>
                  </div>
                </div>

                <!-- Specialties list -->
                <div class="bs-stepper-content">
                  <div id="specialty" class="content fade" role="tabpanel">
                    <h5>Filtrar especialidades</h5>
                    <input class="form-control my-2" name="specialtyFilter" type="text" [(ngModel)]="specialtyFilter" placeholder="Especialidad">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody class="list">
                        <tr class="anchor" *ngFor="let sp of specialties | filter:specialtyFilter:'label'" (click)="onSpecialtySelected(sp.label)">
                          <td>{{sp.label}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Professionals list -->
                  <div id="professional" class="content fade" role="tabpanel">
                    <h5>Filtrar doctores</h5>
                    <input class="form-control my-2" name="doctorFilter" type="text" [(ngModel)]="doctorFilter" placeholder="Doctor">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody>
                        <tr class="anchor" *ngFor="let doctor of doctors | filter:doctorFilter" (click)="onDoctorSelected(doctor)">
                          <td>
                            <b>{{doctor.name}} {{doctor.surname}}</b>
                            <br>
                            <p> Especialidades: {{doctor.specialties}} </p>
                            Días disponibles: <span>{{printDays(doctor.schedule)}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Available hours -->
                  <div id="datetime" class="content" role="tabpanel">
                    <h5>Próximo turno disponible</h5>
                    <div class="row justify-content-center" *ngIf="nextDate && nextHour">
                      <div class="col-4 align-items-center my-2">
                        <p style="font-size: 20px; text-align: center;"><strong>Día: </strong>{{translateDay(nextDate).viewValue}}</p>
                      </div>
                      <div class="col-4 align-items-center my-2">
                        <p style="font-size: 20px; text-align: center;"><strong>Fecha: </strong>{{nextDate | date:'shortDate'}}</p>
                      </div>
                      <div class="col-4 align-items-center my-2">
                        <p style="font-size: 20px; text-align: center;"><strong>Hora: </strong>{{nextHour.time}}</p>
                      </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="nextDate && nextHour">
                      <div class="col-6 align-items-center">
                        <button [disabled]="loading" class="btn btn-success btn-block" (click)="onRegister()">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          <span *ngIf="!loading"> Registrar turno </span>
                        </button>
                      </div>
                    </div>
                    <hr>
                    <h5>Seleccione otro dia y fecha para su turno</h5>
                    <div class="row" *ngIf="doctorSelected">
                      <div class="col-4 p-4 align-self-start">
                        <ngb-datepicker #dp [displayMonths]="1" [minDate]="today" [maxDate]="max" (dateSelect)="dateSelected($event)" (navigate)="date = $event.next"></ngb-datepicker>
                      </div>
                      <div class="col-8 p-4" *ngIf="selectedDate">
                        <div class="row justify-content-center">
                          <div class="col aling-items-center">
                            <h5>Seleccione un horario</h5>
                            <div *ngIf="showHours && hours && hours.length>0">
                              <app-hours-table *ngIf="!loadingHours" (hourClicked)="onSlotClicked($event)" [hours]="hours"></app-hours-table>
                            </div>
                            <div class="row justify-content-center">
                              <span *ngIf="loadingHours" class="spinner-grow spinner-grow-md m-3 p-5 text-primary"></span>
                            </div>
                            <div *ngIf="showHours">
                              <button [disabled]="!selectedSlot" *ngIf="!loadingHours" class="btn btn-success" (click)="onRegister()">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                <span *ngIf="!loading"> Registrar turno </span>
                              </button>
                            </div>
                            <h6 class="p-4 mt-3" *ngIf="!showHours && !loadingHours">No hay turnos disponibles para el día seleccionado</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <select name="specialty" (change)="onSpecialtySelected(select)" #select formControlName="specialty" class="form-control"> -->
          <!-- <li (click)="onDoctorSelected(doctor)" *ngFor="let doctor of doctors | filter:filter.value:select.value:day.value" class="list-group-item anchor" [ngClass]="doctorSelected == doctor ? 'active' : ''"> -->
          <!-- <ngb-datepicker #dp [displayMonths]="1" [minDate]="today" [maxDate]="max" (dateSelect)="dateSelected($event)" (navigate)="date = $event.next"></ngb-datepicker> -->
          <!-- <app-hours-table *ngIf="!loadingHours" (hourClicked)="onSlotClicked($event)" [hours]="hours"></app-hours-table> -->
          <!-- <button [disabled]="!selectedSlot" *ngIf="!loadingHours" class="btn btn-success" (click)="onRegister()"> -->
        </form>
      </div>
    </div>
  </div>
</div>

