<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center" [@animateGallery]="'fadeIn'">
      <div class="col">
        <form [formGroup]="form" class="border rounded shadow-lg border-light px-4 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  Solicitar un turno
                </h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <!-- Staff's name -->
              <div class="col px-2 py-4">
                <label for="name">Apellido del profesional</label>
                <input type="text" #filter formControlName="staff" class="form-control" placeholder="Profesional">
              </div>

              <!-- Specialties -->
              <div class="col px-2 py-4">
                <label for="specialty">Especialidad</label>
                <select name="specialty" (change)="onSpecialtySelected(select)" #select formControlName="specialty" class="form-control">
                  <option selected> </option>
                  <option *ngFor="let label of specialties">{{label}}</option>
                </select>
              </div>

              <!-- Working days -->
              <div class="col px-2 py-4">
                <label for="day">Día de la semana</label>
                <select name="day" #day formControlName="day" class="form-control">
                  <option selected></option>
                  <option *ngFor="let day of days" >{{day.viewValue}}</option>
                </select>
              </div>
            </div>

            <div class="col-8">
              <div class="row mt-2 align-items-center justify-content-center">
                <h5>Resultado de la búsqueda</h5>
              </div>

              <!-- Search results -->
              <div class="row mt-2 align-items-center justify-content-center">
                <h6 *ngIf="(!doctors || doctors.length == 0) && !loadingDoctors">No hay resultados para mostrar</h6>
                <span *ngIf="loadingDoctors" class="spinner-border spinner-border-md p-5 mr-1"></span>
                <ul class="list-group px-2 w-100" style="overflow-y: scroll; overflow-x: hidden; max-height: 300px;">
                  <a role="button">
                    <li (click)="onDoctorSelected(doctor)" *ngFor="let doctor of doctors | filter:filter.value:select.value:day.value" class="list-group-item" [ngClass]="doctorSelected == doctor ? 'active' : ''">
                        <b>{{doctor.name}} {{doctor.surname}}</b>
                        <br>
                        <p> Especialidades: {{doctor.specialties}} </p>
                        Días disponibles: <span>{{printDays(doctor.schedule)}}</span>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </div>

          <hr>

          <div class="row" *ngIf="doctorSelected">
            <div class="col-4 p-4 align-self-start">
              <ngb-datepicker #dp [displayMonths]="1" [minDate]="today" [maxDate]="max" (dateSelect)="dateSelected($event)" (navigate)="date = $event.next"></ngb-datepicker>
            </div>
            <div class="col-8 p-4" *ngIf="selectedDate">
              <div class="row justify-content-center">
                <div class="col aling-items-center">
                  <h5>Seleccione un horario</h5>
                  <div *ngIf="showHours && hours && hours.length>0">
                    <app-hours-table *ngIf="!loadingHours" (hourClicked)="onSlotClicked($event)" [hours]="hours"></app-hours-table>
                  </div>
                  <div class="row justify-content-center">
                    <span *ngIf="loadingHours" class="spinner-grow spinner-grow-md m-3 p-5 text-primary"></span>
                  </div>
                  <div *ngIf="showHours">
                    <button [disabled]="!selectedSlot" *ngIf="!loadingHours" class="btn btn-success" (click)="onRegister()">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      <span *ngIf="!loading"> Registrar turno </span>
                    </button>
                  </div>
                  <h6 class="p-4 mt-3" *ngIf="!showHours && !loadingHours">No hay turnos disponibles para el día seleccionado</h6>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
