<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <form [formGroup]="form" class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">
          <fa-icon [icon]="icon" (click)="close()" [size]="'2x'" #el class="mr-4 pr-4 pt-4" style="position:absolute;right:0;cursor: pointer;"></fa-icon>

          <div class="row justify-content-center px-4 pt-4 pb-2">
            <h4>
              {{ts.translate('patientReviewTitle')}}
            </h4>
          </div>

          <!-- Review -->
          <div class="row mb-3 mt-1 p-2">
            <h5>{{ts.translate('patientReview')}}<span style="color: lightgray; font-size: 15px;"> {{review.value.length+'/200'}}</span></h5>
            <textarea maxlength="200" formControlName="review" #review></textarea>
          </div>

          <hr>
          <h5 class="my-3">{{ts.translate('questionsLabel')}}</h5>
          <div class="row">
            <p class="label pl-3" style="font-size: large;">{{ts.translate('firstPatientQuestion')}}</p>
          </div>
          <div class="row">
            <ngb-rating formControlName="communication" class="pl-3 pb-3" [(rate)]="communication"></ngb-rating>
          </div>
          <div class="row">
            <p class="label pl-3" style="font-size: large;">{{ts.translate('secondPatientQuestion')}}</p>
          </div>
          <div class="row">
            <ngb-rating class="pl-3" formControlName="puntuality" [(rate)]="puntuality"></ngb-rating>
          </div>

          <!-- Register -->
          <div class="row justify-content-center">
            <button (click)="update()" [disabled]="form.invalid || loading || !fCommunication.value || !fPuntuality.value" class="btn btn-success my-3 px-3 btn-lg">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <span *ngIf="!loading">{{ts.translate('registerReview')}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
