<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col align-items-center">
        <div class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">

          <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 500px; width: auto;">
            <span class="spinner-border text-primary spinner-border-lg"></span>
          </div>

          <span *ngIf="!loading">
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  {{ts.translate('detailsTitle')}}
                </h4>
              </div>
            </div>


            <h5>{{ts.translate('date')}} </h5>
            <p>{{date | date:'short'}}</p>
            <hr>

            <h5>{{ts.translate('doctorsReview')}}</h5>
            <p>{{review}}</p>
            <hr>

            <h5>{{ts.translate('patient')}}</h5>
            <p>{{patient}}</p>
            <hr>

            <span *ngIf="auth.currentUser.type == types.Staff || auth.currentUser.type == types.Admin">
              <h5>{{ts.translate('clinicalData')}}</h5>
                {{data | data:props}}
              <hr>
            </span>

            <span *ngIf="auth.currentUser.type == types.Patient || auth.currentUser.type == types.Admin">
              <h5>{{ts.translate('doctorsQuestions')}}</h5>
              <p *ngIf="poll">{{ts.translate('firstQuestion')}}<b> {{poll[0] > 10 ? poll[0]/10 : poll[0]}} </b></p>
              <p *ngIf="poll">{{ts.translate('secondQuestion')}}<b> {{poll[1] > 10 ? poll[1]/10 : poll[1]}} </b></p>
              <hr>
            </span>

            <span *ngIf="auth.currentUser.type == types.Staff || auth.currentUser.type == types.Admin">
              <h5>{{ts.translate('patientQuestions')}}</h5>
              <p *ngIf="poll">{{ts.translate('firstPatientQuestion')}}<b> {{poll[0] > 10 ? poll[0]/10 : poll[0]}} </b></p>
              <p *ngIf="poll">{{ts.translate('secondPatientQuestion')}}<b> {{poll[1] > 10 ? poll[1]/10 : poll[1]}} </b></p>
              <p *ngIf="!poll">{{ts.translate('pendingPatientQuestions')}}</p>
              <hr>

              <h5>{{ts.translate('patientComments')}}</h5>
              <p> {{patientComment ? patientComment : ts.translate('pendingPatientComments')}} </p>
              <hr>
            </span>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>
