<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <form class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">

          <div class="row">
            <div class="col-1 d-flex">
              <app-back-arrow></app-back-arrow>
            </div>
            <div class="col d-flex enabled" style="height: 80px;">
              <div style="margin: auto;">
                <h4>
                  Aprobar un profesional
                </h4>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col">
              <ul *ngIf="users.length > 0" class="list-group">
                <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
                  {{user.surname + ', ' + user.name}}
                  <span class="badge badge-primary badge-pill">
                    {{printSpecialties(user)}}
                  </span>
                  <button [disabled]="loading" (click)="onApprove(user)" class="btn btn-success btn-sm">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span *ngIf="!loading">Aprobar</span>
                  </button>
                </li>
              </ul>
              <h5 *ngIf="users.length == 0 && !loading">
                No quedan profesionales sin aprobar
              </h5>
              <span *ngIf="users.length == 0 && loading" class="spinner-border spinner-border-sm mr-1" style="margin: auto;"></span>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
