<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <form [formGroup]="form" class="border rounded shadow-lg border-light px-3 pb-3 mt-1 bg-white">
          <fa-icon [icon]="icon" [size]="'2x'" #el class="cross mr-4 mt-2" style="position:absolute;right:0;cursor: pointer;"></fa-icon>
          <h3>Reseña del paciente</h3>
          <textarea></textarea>
          <h3>Completar encuesta</h3>
          <br>
          <h3>Datos adicionales</h3>
          <label for="first">Dato</label>
          <input type="text" name="first">
          <label for="first">Dato</label>
          <input type="text" name="first">
          <label for="first">Dato</label>
          <input type="text" name="first">
        </form>
      </div>
    </div>
  </div>
</div>
